<h1>Posts</h1>
<div id="posts-count">
  <%= render partial: 'shared/count' %>
</div>
<ul id="posts-list">
<% @posts.each do |p| %>
  <%= render partial: 'post_list_item', locals: { title: p.title, body: p.body } %>
<% end %>
</ul>
<a href="#" id="post-button">Click me!</a>

<script>
  $("#post-button").click( function() {
    console.log("from the view clicked post-button");
    App.posting.post("something", "here");
  });
</script>
