<h1>Posts</h1>
<div id="posts-count">
  <%= render partial: 'shared/count' %>
</div>
<ul id="posts-list">
<% @posts.each do |p| %>
  <%= render partial: 'post_list_item', locals: { title: p.title, body: p.body } %>
<% end %>
</ul>
Title<br>
<input id="post-title" type="text" name="title"><br>
Content<br>
<textarea id="post-body" name="body" rows="10" cols="30"></textarea><br>
<a href="#" id="post-button">Post!</a>

<script>
  $("#post-button").click( function() {
    console.log("from the view clicked post-button");
    App.posting.post($("#post-title").val(), $("#post-body").val());
  });
</script>
